<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home - URLHub</title>
</head>

<body>
    <%- include('../partials/header') %>
        <div class="container">
            <h1>Change Password</h1>
            <form class="verify-email-box" action="/change-password" method="post">
                <% if(errors && errors.length> 0) { %>
                    <% errors.forEach((error)=> { %>
                        <p class="flash-error">
                            <%= error %>
                        </p>
                        <% }) %>
                            <% } %>
                <input class="verify-email-code" type="password" name="currentPassword" placeholder="Enter Current Password">
                <input class="verify-email-code" type="password" name="newPassword" placeholder="Enter New Password">
                <input class="verify-email-code" type="password" name="confirmPassword" placeholder="Confirm New Password">
                <button class="verify-email-btn" type="submit">Change Password</button>
            </form>
        </div>


</body>

</html>