<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Short URL Hub</title>
</head>
<body>
    <nav>
        <div>
            <a href="<%= user ? '/' : '/login' %>"><h1>URLHub</h1></a>
        </div>
        <ul>
            <a href="/">Home</a>
                <a href="/about">About Us</a>
            <% if(!user) { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            <% }else{ %>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            <% } %>
        </ul>
    </nav>
</body>
</html>