@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("bg.jpg");
    background-size: cover;
    color: black;
}
h1{
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #00464e;
}
.container{
    position: relative;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    width: 50vw;
    box-shadow: 0px 0px 10px 2px black;
    border-radius: 2px;
    background-color: white;
    color :black;
    background-image: url('containerbg.png');
    background-size: cover;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px
}

#form *{
    z-index: 1;
    background-color: transparent;
}

#form label{
    font-size: 20px;
}

#primary-btn{
    background-color: #00464e;
    width: 120px;
    border-radius: 10px;
    height: 40px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

#primary-btn:hover{
    font-size: 15px;
    cursor: pointer;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

#form input{
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border-style: none;
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.url-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.url-container *{
    z-index: 1;
}
    
#short-urls{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#short-urls a{
    font-size: medium;
    color: #00464e;
    font-weight: 600;
}

#short-urls li{
    font-size: small;
    color: black;;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding: 5px;
    box-shadow: 1px 1px 4px 1px #00464e;
    border-radius: 5px;
    width: 98%;
}

.url-container h2{
color: #00464e;
}

.links{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 2px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px 1px black;
    background-image: url('containerbg.png');
    background-size: initial;
}

nav h1{
    color: #00464e;
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

nav ul a{
    width: 90px;
    text-align: center;
    color: #00464e;
}
a{
    text-decoration: none;
}

nav ul a:hover{
    cursor: pointer;
    font-weight: 600;
}

.flash-notify {
  color: green;
}

.flash-error {
  color: red;
}

.secondary-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    position: relative;
    z-index: 1;
}
.secondary-section p{
    width: 100px;
    text-align: center;
}

.edit-container{
    height: auto;
}

.link-control-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 4px;
    color: white;
}

.delete-btn{
    border: none; 
    background-color: transparent;
    cursor: pointer;
}

.profile{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #00464e;
    padding: 1rem;
    height: 10rem;
    border-radius: 10px;
}

.verify-email-box{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    background-color: #00464e;
    padding: 1rem;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.verify-email-btn{
    border: none;
    width: 11rem;
    background-color: white;
    color:#00464e;
    height: 2rem;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.verify-email-btn:hover{
    font-size: 14px;
}

.verify-email-code{
    border: none;
    color: black;
    height: 2rem;
    padding: 4px;
    padding-left: 10px;
    border-radius: 5px;
}

.display-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    color:#00464e;
}

.display-pic p{
    font-size: 3rem;
    font-weight: 600;
}

.profile-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: white;
}

.profile-name{
    font-size: 20px;
}
.profile-email{
    font-size: 14px;
}

.profile-email-verify{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.profile-verify{
    width: 6rem;
    background-color: white;
    height: 1.5rem;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    
}

.email-verify-btn{
    color: black;
    border: none;
    width: 6rem;
    height: 1.5rem;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.email-verify-btn:hover{
    background-color: green;
    color: white;
}

.settings{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.settings-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 10rem;
    height: 2.5rem;
    background-color: #00464e;
    color:white;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}
.settings-btn:hover{

    font-size: 14px;
}



@media (max-width:1000px){
    .container{
        width: 90vw;
        overflow-y: hidden;
    }
}



